footer{
    // display: none !important;
    // position: fixed;
    // bottom: 0;
    // z-index: 1;
    // height: var(--footer-height, auto);
    display: block;
    background: v(black);
    width: 100%;
    .footer-main{
        padding: 20px 20px 24px;
        background:v(color-primary);
        color: v(color-secondary);
        p{
            margin: 16px 0 37px;
            color: v(color-secondary);
        }
        .footer-menu{
            h3{
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: v(black);
            }
            ul{
               a{
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                color: v(color-secondary);
               } 
            }
        }
    }
    .bottom-footer{
        // padding: 10px 20px;
        background: v(color-secondary);
        color: v(color-primary);
        .mail-to{
            color: v(color-primary);
        }
        ul li{
            width: 20px;
        }
    }

    .item-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .contact-foot-row > * {
        margin-bottom: 2rem;
    }

    .powerland-white-logo{
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        img{
            border-radius: 11px;
            padding: 11px 18px 14px;
             background-color: inherit;
            // box-shadow: inset 0 0 15px rgba(66, 66, 66, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(58, 58, 58, 0.15), -7px -7px 20px #737373, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
            filter: drop-shadow(8px 8px 5px #222222);
        }
    }

    .bottom-foot-row{
        --border: solid 3px v(color-primary);
        background: v(black);
        // border-top-right-radius: 8px;
        // border-top-left-radius: 8px;
        // border-top: solid 2px v(color-primary);
        // border-left: solid 2px v(color-primary);
        // border-right: solid 2px v(color-primary);
        .bottom-foot{
            padding: 1rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        @include media-breakpoint-up(md){
            .bottom-foot{
                flex-direction: row;
                justify-content: space-between;
                a{
                    font-size: .8rem;
                }
            }
        }
    }
}

.socials{
    li{
        a{
            width: 1.4rem;
            display: inline-block;
            svg{
                max-width: 100%;
                height: auto;
            }
        }
        &:not(:last-child){
            margin-right: 15px;
        }
    }
}
.c-socials{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    h3{
        align-self: center;
        text-transform: uppercase;
        width: 100%;
        position: relative;
        text-align: center;
        // border-bottom: solid white 2px;
        span{
            z-index: 2;
            position: relative;
            background: black;
            padding: 0 8px;
        }
        &::before{
            content: '';
            width: 100%;
            background-color: white;
            height: 2px;
            display: inline-block;
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 0;
        }
    }
    .c-social-wrapper{
        display: flex;
        justify-content: space-around;
        // padding: 0 2rem;
        // margin-top: 1rem;
        max-width: 250px;
        margin: auto;
        margin-top: auto;
        width: 250px;
        align-items: center;
        margin-top: 1rem;
        .social-item{
            a{
                width: 1.4rem;
                display: inline-block;
                color: white;
                text-decoration: none;
                // font-size: 1em;
                transition: color 0.3s ease;
                svg{
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }

}

.disclaimer-footnote{
    h4{
        text-align: left;
        opacity: .9;
    }
    p{
        text-align: left;
        font-size: 0.7rem;
        opacity: .8;
    }
    
}