// html {
//     // This defines what 1rem is
//     font-size: v(font-size);

//     @include for-phone-only{
//         font-size: 70%;
//     }
//     @include for-tablet-portrait-only{
//         font-size: 80%;
//     }
//     @include for-tablet-landscape-only{
//         font-size: 80%;
//     }
//     @include for-desktop-up{
//         font-size: 100%;
//     }
// }
//font-family: 'Codec Pro', Arial, Helvetica;
//font-family: 'Codec Pro', Arial, Helvetica;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;500;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

//section-2
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

//section-3
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

//section-4
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

//section-5, 10
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;700&display=swap');

//section-6
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

//section-7
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

//section-8, 12
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap');

//section-9
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

//section-11
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

//section-13
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

//section-14
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

@mixin fontA {
    font-family: 'Roboto', Arial, Helvetica;
    font-style: normal;
}

@mixin fontB {
    font-family: 'Source sans Pro', Arial, Helvetica;
    font-style: normal;
}

@mixin fontC {
    font-family: 'Noto sans', Arial, Helvetica;    
    font-style: normal;
}


body {
    font-family: "Roboto";
    font-weight: 300;
    font-weight: v(font-weight, 400);
    font-size: v(font-size, 16px);
    line-height: 1.5;
    color: v(color-contrast-high);
}

// .h1-primary{

// }
// .h3-primary{

// }

.title-primary{
    @include fontA;
    font-weight: v(font-weight, 700);
    font-size: 56px;
    line-height: v(line-height, 2.3rem);
    color:v(color-contrast-high);
}
.title-secondary{
    @include fontA;
    font-weight: v(font-weight, 700);
    font-size: 36px;
    line-height: v(line-height, 46px);
    color:v(color-contrast-high);
}


.subtitle-primary{
    @include fontA;
    font-weight: v(font-weight, 500);
    font-size: 18px;
    line-height:v(line-height, 22px);
}
.subtitle-secondary{
    @include fontB;
    font-weight:v(font-weight, 700);
    font-size: 18px;
    line-height: v(line-height, 25px);
}

.p-primary{
    @include fontB;
    font-weight: v(font-weight, 400);
    font-size: 18px;
    line-height: v(line-height, 27px);
    color: v(color-p);
}

.p-secondary{
    @include fontB;
    font-weight: v(font-weight, 400);
    font-size: 16px;
    line-height: v(line-height, 20px);
}

.section-title{
    font-family: 'Uni Sans Heavy Italic', Arial, Helvetica;
    text-transform: uppercase;
    font-weight: v(font-weight, 700);
    font-size: 2rem;
    line-height: v(line-height, 2.3rem);
    color:v(white);
    margin: 1rem;
    padding: 2rem 0;
    @include media-breakpoint-up(md){
        font-size: 2rem;
        margin: 2rem;
    }
    @include media-breakpoint-up(lg){
        font-size: 2.3rem;
    }
}
.big-word{
    margin: 0rem;
}

.section-maintitle{
    font-family:  Arial, Helvetica;
    text-transform: uppercase;
    font-weight: v(font-weight, 700);
    font-size: 2.1rem;
    line-height: v(line-height, 71px);
    color:v(color-contrast-high);
}


.thin{
    --font-weight: 100;
}

.bold{
    --font-weight: 400;
}

.dark{
    --font-weight: 900;
}